<%= render partial: "shared/navbar" %>

<!------home page for users---->
<div class="flex items-center justify-center h-screen bg-gray-100">
  <div class="container">
    <div class="bg-white rounded-lg shadow-lg p-5 md:p-20 mx-2">
      <div class="text-center">
        <h2 class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
          Quiz<span class="text-indigo-600">App</span>
        </h2>
        <h3 class='text-xl md:text-3xl mt-10'>Test Your Mind</h3>
        <p class="text-md md:text-xl mt-10">Lets challange you!!!</p>
      </div>
      <div class="flex flex-wrap mt-10 justify-center">
        <div class="m-3">
          <a href="https://www.facebook.com/QuickToolz" title="Quicktoolz On Facebook"
             class="md:w-32 bg-white tracking-wide text-gray-800 font-bold rounded border-2 border-blue-600 hover:border-blue-600 hover:bg-blue-600 hover:text-white shadow-md py-2 px-6 inline-flex items-center">
            <span class="mx-auto">Science</span>
          </a>
        </div>
        <div class="m-3">
          <a href="https://www.facebook.com/QuickToolz" title="Quicktoolz On Facebook"
             class="md:w-32 bg-white tracking-wide text-gray-800 font-bold rounded border-2 border-blue-600 hover:border-blue-600 hover:bg-blue-600 hover:text-white shadow-md py-2 px-6 inline-flex items-center">
            <span class="mx-auto">Sport</span>
          </a>
        </div>
        <div class="m-3">
          <a href="https://www.facebook.com/QuickToolz" title="Quicktoolz On Facebook"
             class="md:w-32 bg-white tracking-wide text-gray-800 font-bold rounded border-2 border-blue-600 hover:border-blue-600 hover:bg-blue-600 hover:text-white shadow-md py-2 px-6 inline-flex items-center">
            <span class="mx-auto">Art</span>
          </a>
        </div>
        <div class="m-3">
          <a href="https://www.facebook.com/QuickToolz" title="Quicktoolz On Facebook"
             class="md:w-32 bg-white tracking-wide text-gray-800 font-bold rounded border-2 border-blue-600 hover:border-blue-600 hover:bg-blue-600 hover:text-white shadow-md py-2 px-6 inline-flex items-center">
            <span class="mx-auto">Sport</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>