    <%= render partial:"shared/sidebar" %>

            <!--------------------------main content here------------------------------------->
<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div class="relative px-4 py-10 bg-white mx-8 md:mx-0 shadow rounded-3xl sm:p-10">
      
      <div class="max-w-md mx-auto">
        <div class="flex items-center space-x-5">
          <div class="h-14 w-14 bg-yellow-200 rounded-full flex flex-shrink-0 justify-center items-center text-yellow-500 text-2xl font-mono">?</div>
          <div class="block pl-2 font-semibold text-xl self-start text-gray-700">
            <h2 class="leading-relaxed">Add Category</h2>
          </div>
        </div>
        <%= render partial:"form" %>
      </div>
    </div>
  </div>
</div>
            <!----------remaining div of sidebar-------------->
        </div>
    </div>
</div>
<!--------------------------------------------->